<?xml version="1.0"?>
<config>
 <modules>
  <Dw_Categoryslider>
   <version>0.1.0</version>
  </Dw_Categoryslider>
 </modules>
 <frontend>
  <routers>
   <categoryslider>
     <use>standard</use>
      <args>
       <module>Dw_Categoryslider</module>
       <frontName>categoryslider</frontName>
      </args>
    </categoryslider>
  </routers>
 <layout>
    <updates>
     <categoryslider>
      <file>categoryslider.xml</file>
     </categoryslider>
    </updates>
 </layout>
 </frontend>
 <global>
  <models>
    <categoryslider>
     <class>Dw_Categoryslider_Model</class>
     <resourceModel>categoryslider_mysql4</resourceModel>
    </categoryslider>
    <categoryslider_mysql4>
     <class>Company_Web_Model_Mysql4</class>
     <entities>
     <categoryslider>
     <table>categoryslider</table>
     </categoryslider>
     </entities>
    </categoryslider_mysql4>
 </models>
 <resources>
   <categoryslider_setup>
    <setup>
     <module>Dw_Categoryslider</module>
    </setup>
    <connection>
     <use>core_setup</use>
    </connection>
   </categoryslider_setup>
 <categoryslider_write>
    <connection>
     <use>core_write</use>
    </connection>
 </categoryslider_write>
 <categoryslider_read>
   <connection>
    <use>core_read</use>
   </connection>
 </categoryslider_read>
 </resources>
 <blocks>
  <categoryslider>
    <class>Dw_Categoryslider_Block</class>
   </categoryslider>
 </blocks>
 <helpers>
  <categoryslider>
   <class>Dw_Categoryslider_Helper</class>
  </categoryslider>
 </helpers>
 </global>
</config>
